.leaderboardContainer {
  position: absolute;
  right: 0;
  background-color: #060ce9;
  padding: 1rem;
  width: 15svw;
  top: 10svh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  word-break: break-all;
  align-items: center;
  max-height: 75svh;
  overflow-y: scroll;
  /*hide scrollbar*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.leaderboardContainer::-webkit-scrollbar {
  display: none;
}

.leaderboardContainer h1 {
  font-size: 2rem;
  font-weight: normal;
  color: rgb(255, 183, 0);
}

.leaderboardContainer p {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}
