.pieceContainer {
  background-color: #060ce9;
  width: 8svw;
  height: 7.5svh;
  margin: 0.5svw;
  display: inline-block;
  cursor: pointer;
}

.pieceContainer p {
  color: rgb(255, 183, 0);
  margin: auto;
  padding-top: 0.25rem;
  font-size: 2rem;
  font-weight: 900;
  width: fit-content;
}

.categoryContainer {
  width: 8svw;
  height: 7.5svh;
  margin: 0.5svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0107ae;
  flex-wrap: wrap;
  overflow: scroll;
  /*hide scrollbar*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.categoryContainer::-webkit-scrollbar {
  display: none;
}

.categoryContainer p {
  margin: auto;
  padding-top: 0.25rem;
  font-weight: 900;
  width: fit-content;
  font-size: 1rem;
  text-align: center;
}

.clicked {
  background-color: #03089c;
  cursor: default;
}
.clicked p {
  color: #03089c;
}
